POSTGRES_DB=wallet
POSTGRES_USER=wallet
POSTGRES_PASSWORD=wallet
POSTGRES_HOST_PORT=5432
LAMBDA_HOST_PORT=9000
OTEL_SERVICE_NAME=spec-star-wallet
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
GRAFANA_HOST_PORT=3000
JAEGER_HOST_PORT=16686
